*{
    margin: 0;
    padding: 0;
}
.calculatrice{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.calculatrice input{
    font-size: 20px;
}